
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.main-menu {
    ul {
      li {
        margin-right: 0;
      }
    }
  }

  .s-main {
    background-position: -350px center;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #bdd7e2;
    position: fixed;
    top: 89px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s-main {
    &__title {
      font-size: 28px;
      text-align: center;
    }
    ul {
      padding-bottom: 0;
      margin-bottom: 30px;
    }
    .form {
      position: relative;
      top: 0;
      margin: 0 auto;
    }
  }

  .s-advantage {
    &__content {
      flex-wrap: wrap;
    }
    .advantage {
      margin-bottom: 20px;
    }
  }

  .s-gruz {
    &__content {
      margin-bottom: 30px;
    }
    .form {
      margin: 0 auto;
    }
  }

  
  .s-srok {
    .srok {
      text-align: center;
      margin-bottom: 30px;
      &__block {
        width: auto;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .s-price {
    .s-info {
      margin-bottom: 30px;
    }
    .form {
      margin: 0 auto;
    }
  }

  .s-service {
    .service {
      margin-bottom: 20px;
    }
  }

  .s-valuation {
    .valuation__info {
      margin-bottom: 30px;
    }
    .report {
      display: block;
      text-align: center;
    }
  }

  .s-contact {
    .contact {
      position: relative;
      margin: 20px 0;
    }
  }

}

// ≥768px
@include media-breakpoint-down(sm) {  

  .header {
    &__title {
      display: none;
    }
  }

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 30px;
    }      
  }

  .s-advantage {
    .advantage {
      width: 48%;
      &__img {
        margin-bottom: 10px;
      }
      &__title {
        font-size: 14px;
      }
    }
  }

  .s-gruz {
    .gruz {
      &__title {
        font-size: 18px;
      }
    }
  }

  .s-route {
    &__content {
      display: none;
    }

    .carousel-route {
      display: block;
      margin-bottom: 30px;
    }

    .route {
      margin-bottom: 10px;
      &__img {
        max-width: 180px;
        margin: 0 0 25px 0 !important;
      }
      &__strana {
        font-size: 16px;
        left: 38%;
      }
      &__kz {
        font-size: 16px;
        left: 83%;
      }
    }
  }

  .s-srok {
    .srok {
      &__title {
        font-size: 18px;
      }
    }
  }

  .s-valuation {
    .valuation {
      &__number, &__list {
        display: block;
      }
      &__text, &__num {
        display: none;
      }
    }
  }

  .perevozka {
    .form {
      background-position: center center;
      background-size: cover;
    }

    table {
      td {
        padding: 0 10px;
      }
    }
  }

}

// ≥576px
@include media-breakpoint-down(xs) {

  .callback__wrapper {
    display: block !important; 
  }
  
  .section {
    &-title {
      font-size: 24px;
    }
  }

  .s-info {
    font-size: 15px;
  }

  .s-gruz {
    .gruz {
      background-size: contain;
      &__title {
        padding: 25px 0;
      }
    }
  }

  .s-route {
    .route {
      &__img {
        max-width: 160px;
      }
      &__strana {
        left: 32%;
      }
      &__kz {        
        top: 130px;
        left: 77%;
      }
    }
  }

  .s-srok {
    .srok {
      &__block {
        white-space: nowrap;
      }
      &__title {
        // font-size: 16px;
        margin-bottom: 8px;
      }

      .button {
        padding: 7px 20px;
      }
    }
  }

  .s-pismo {
    .carousel-pismo {
      padding: 0;
    }
  }

  .s-price {
    .price {
      margin-left: 0;
      margin-bottom: 25px;
      &__title {
        font-size: 18px;
        margin-bottom: 15px;
      }
      ul {
        margin-left: 10px;
        li {
          font-size: 14px;
          margin-bottom: 10px;
          padding-left: 30px;
        }
      }
    }
  }

  .s-service {
    .service {
      &__title {
        max-width: none;
      }
    }
  }

  .s-contact {
    .contact {
      padding: 25px 15px;
      max-width: 500px;
      width: 100%;
    }
  }

  .s {
    &-thanks {
      padding: 150px 0 50px;
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }

  .perevozka {
    .form {
      margin: 0 -10px -25px;;
    }
    &__title {
      font-size: 18px;
    }
    &__select {
      display: table-cell;
    }
    &-td {
      display: none;
    }
    tbody {
      td {
        display: none;
        &.active {
          display: table-cell;
        }
      }
    }
  }

  .remodal {
    padding: 25px 10px;
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}